﻿<%@ Control Language="C#" CodeBehind="FilterUserControl.ascx.cs" Inherits="DineSelect.FilterUserControl" %>

<asp:DropDownList ID="DropDownList1" runat="server" AutoPostBack="true" EnableViewState="true" CssClass="droplist">
    <asp:ListItem Text="All" Value="" />
</asp:DropDownList>
