
body
{
    margin: 0;
    padding: 0;
    background: #FDFCE3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #2E2E2E;
}

h1, h2, h3
{
    margin: 0;
    text-transform: uppercase;
    font-weight: normal;
    color: #F06000;
}

h1
{
    font-size: 44px;
}

h2
{
    font-size: 18px;
}

h3
{
}

p, ul, ol
{
    margin-top: 0;
    line-height: 240%;
    text-align: justify;
}

ul, ol
{
}

blockquote
{
}

a
{
    color: #F06000;
}

a:hover
{
    text-decoration: none;
}

a img
{
    border: none;
}

img.left
{
    float: left;
    margin: 7px 30px 0 0;
}

img.right
{
    float: right;
    margin: 7px 0 0 30px;
}

hr
{
    display: none;
}

.list1
{
}

.list1 li
{
    float: left;
    line-height: normal;
}

.list1 li img
{
    margin: 0 30px 30px 0;
}

.list1 li.alt img
{
    margin-right: 0;
}

#wrapper
{
}

#wrapper-bgtop
{
}

/* Header */

#header-wrapper
{
}

#header
{
    width: 950px;
    height: 135px;
    margin: 0 auto;
    background: url(images/bg_top.png) no-repeat left top;
}

/* Menu */

#menu
{
    float: right;
    width: 620px;
}

#menu ul
{
    float: right;
    margin: 0;
    padding: 50px 0px 0px 0px;
    list-style: none;
    line-height: normal;
}

#menu li
{
    display: block;
    float: left;
    border-right: 1px solid #000000;
}

#menu a
{
    display: block;
    float: left;
    padding: 0px 20px 0px 20px;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #F06000;
}

#menu a:hover
{
    text-decoration: none;
}

#menu .current_page_item a
{
}

#menu .last
{
    border-right: none;
}

/* Search */

#search
{
    float: right;
    width: 260px;
}

#search form
{
    float: right;
    margin: 0;
    padding: 4px 0px 0 0;
}

#search fieldset
{
    margin: 0;
    padding: 0;
    border: none;
}

#search input
{
    float: left;
    font: 12px Georgia, "Times New Roman" , Times, serif;
    border: none;
}

#search-text
{
    width: 200px;
    height: 18px;
    padding: 3px 0 0 5px;
    border: 1px solid #333333;
    background: #ECF9E4;
    color: #000000;
}

#search-submit
{
    height: 21px;
    margin-left: 10px;
    padding: 0px 5px;
    background: #5AA01B;
    color: #FFFFFF;
}

/* Page */

#page
{
    width: 910px;
    margin: 0 auto;
    padding: 40px 20px 0px 20px;
    background: #FFFFFF;
    border: solid 1px #cccccc;
}


/** LOGO */

#logo
{
    float: left;
    width: 260px;
    margin: 0 auto;
    padding-left: 100px;
}

#logo h1, #logo p
{
    margin: 0px;
    line-height: normal;
    text-transform: lowercase;
    font-weight: normal;
    color: #FFFFFF;
}

#logo p
{
    margin-top: -4px;
    text-transform: lowercase;
    font-size: 13px;
    color: #AFD147;
}

#logo h1
{
    padding-top: 10px;
    font-size: 48px;
}

#logo a
{
    text-decoration: none;
    color: #AFD147;
}

#logo h1 a
{
    text-decoration: none;
    color: #FFFFFF;
}


#banner
{
    padding-bottom: 20px;
}

/* Content */

#content
{
    float: right;
    width: 730px;
}

/* Post */

.post
{
    margin-bottom: 45px;
    background: url(images/img03.jpg) no-repeat right 10px;
}

.post .title
{
    height: 44px;
    padding-left: 15px;
    color: #F06000;
}

.post .title a
{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 30px;
    color: #F06000;
}

.post .date
{
}

.post .meta
{
    height: 32px;
    margin-left: 2px;
    padding: 4px 30px 2px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 10px;
}

.post .meta span
{
    display: block;
    margin-top: -10px;
}

.post .meta a
{
}

.post .entry
{
    padding: 10px 15px;
}

.post .links
{
    display: block;
    width: 120px;
    height: 18px;
    margin: 0px;
    padding: 3px 0px 0px 40px;
    background: #546E09;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
}

.post .comments
{
    display: block;
    width: 120px;
    height: 18px;
    margin: 0px;
    padding: 3px 0px 0px 40px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-decoration: none;
    font-weight: bold;
    color: #961A06;
}

/* Sidebar */

#sidebar
{
    float: left;
    width: 170px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#sidebar ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: normal;
}

#sidebar li
{
    margin-bottom: 30px;
    padding: 0 0 10px 0px;
}

#sidebar li ul
{
    margin: 0px 14px;
}

#sidebar li li
{
    margin: 0;
    padding: 12px 0px;
    border-bottom: 1px dashed #ADADAD;
}

#sidebar li li a
{
    padding: 0px 0px 0px 0px;
    font-weight: normal;
}

#sidebar li li a:hover
{
}

#sidebar p
{
    margin: 0;
    padding: 0px 14px;
}

#sidebar h2
{
    height: 30px;
    margin: 0 0 10px 0px;
    padding: 6px 0 2px 14px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: normal;
}


#sidebar p
{
    line-height: 200%;
}

#sidebar a
{
    text-align: left;
    text-decoration: none;
    font-weight: bold;
}

/* Calendar */

#calendar
{
}

#calendar caption
{
    padding-bottom: 5px;
    font-weight: bold;
}

#calendar table
{
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid #24130F;
    border-left: 1px solid #24130F;
    border-right: 1px solid #24130F;
}

#calendar thead th
{
    padding: 5px 0;
    text-align: center;
    border-top: 1px solid #24130F;
    border-left: 1px solid #24130F;
    background: #24130F;
}

#calendar tbody td
{
    padding: 5px 0;
    text-align: center;
    border-top: 1px solid #24130F;
    border-left: 1px solid #24130F;
    border-bottom: 1px solid #24130F;
}

#calendar tfoot td
{
    padding: 5px;
    border-left: 1px solid #24130F;
    border-bottom: 1px solid #24130F;
}

#calendar tfoot #next
{
    border-top: 1px solid #24130F;
    text-align: right;
}

#calendar tfoot #prev
{
    border-top: 1px solid #24130F;
}

#calendar .pad
{
    border-bottom: 1px solid #24130F;
}

#calendar #today
{
    background: #24130F;
}

/* Footer */

#footer
{
    width: 950px;
    height: 50px;
    margin: 0 auto 20px auto;
    background: #000000;
}

#footer p
{
    margin: 0px;
    padding: 16px 0px 0px 0px;
    text-align: center;
    line-height: normal;
    text-transform: uppercase;
    font-size: 10px;
    color: #FFFFFF;
}

#footer a
{
    color: #FFFFFF;
}

#rounded-corner
{
    font-family: "Lucida Sans Unicode" , "Lucida Grande" , Sans-Serif;
    font-size: 12px;
    text-align: left;
    border-collapse: collapse;
}
#rounded-corner thead th.rounded-company
{
    background: #b9c9fe url('images/left.png') left -1px no-repeat;
}
#rounded-corner thead th.rounded-q4
{
    background: #b9c9fe url('images/right.png') right -1px no-repeat;
}
#rounded-corner th
{
    padding: 8px;
    font-weight: normal;
    font-size: 13px;
    color: #039;
    background: #b9c9fe;
}
#rounded-corner td
{
    padding: 8px;
    background: #e8edff;
    border-top: 1px solid #fff;
    color: #669;
}
#rounded-corner tfoot td.rounded-foot-left
{
    background: #e8edff url('images/botleft.png') left bottom no-repeat;
}
#rounded-corner tfoot td.rounded-foot-right
{
    background: #e8edff url('images/botright.png') right bottom no-repeat;
}
#rounded-corner tbody tr:hover td
{
    background: #d0dafd;
}

table.detailstable
{
    border: 1px solid #B8E3FE;
    border-bottom: 3px solid #B8E3FE;
    border-collapse: collapse;
    color: #000000; /*#666666;*/ /*font-size: 95%;*/
}

table.gridview th, table.detailstable tr th, table.listview td, table.detailstable td
{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.1em;
}

td.detailstable
{
    padding-top: -6px;
    padding-bottom: -6px;
    padding-left: -10px;
    padding-right: -10px;
    line-height: -1.1em;
}

table.detailstable td
{
    padding-top: -6px;
    padding-bottom: -10px;
    padding-left: -12px;
    padding-right: -20px;
}

body.template table.listview th, table.gridview th, table.detailstable th
{
    background-position: 1px 1px;
    background-repeat: repeat-x;
    background-color: #ffffff; /*font-size: 100%;*/
    text-align: left;
    line-height: 1.3em;
    color: #000000;
    border-left: 1px solid #B8E3FE;
    border-right: 1px solid #B8E3FE;
    border-bottom: 1px solid #B8E3FE;
}

body.template table.listview td, table.gridview td, table.detailstable td
{
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px dotted #cdcdcd;
}

.labelTop
{
    background-color: #FDFCE3;
    font-weight: bold;
    text-align: center;
    height: 20px;
    vertical-align: middle;
}

.modalBackground
{
	background-color: Gray;
	filter: alpha(opacity=80);
	opacity: 0.8;
}

.modalPopup
{
	background-color: #E9F0F8;
	border-width: 3px;
	border-style: solid;
	border-color: Gray;
	padding: 3px;
	width: 250px;
}

.modalPanel
{
	background-color: White;
	border-color: Black;
	border-style: solid;
	border-width: 1px;
}

.modalTitle
{
	background-color: Silver;
	vertical-align: top;
	text-align: center;
	cursor: move;
	height: 20px;
}

.usersTable
{
    border: 1px solid #B8E3FE;
	border-bottom: 3px solid #B8E3FE;
	border-collapse: collapse;
	color: #666666;
}

.usersHeaderTemplate
{
	background-repeat: repeat-x;
	background-color: #ffffff;
	/*font-size: 100%;*/
	line-height: 1.3em;
    font-weight: bold;
	color: #666666;
	border-top: 1px solid #B8E3FE;
	border-left: 1px solid #B8E3FE;
	border-right: 1px solid #B8E3FE;
	border-bottom: 1px solid #B8E3FE;
	background: #E9F0F8;
	vertical-align: top;
}

table.usersTable td
{
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px dotted #cdcdcd;
}