﻿<%@ Control Language="C#" CodeBehind="ForeignKey_Edit.ascx.cs" Inherits="DineSelect.ForeignKey_EditField" %>

<asp:DropDownList ID="DropDownList1" runat="server" CssClass="droplist">
</asp:DropDownList>